<div class="card"
     (mouseover)="isHover=true"
     (mouseout)="isHover=false"
     (click)="showCharacter()"
     [ngClass]="isHover?'opacity-100 border border-primary border-2':'opacity-50'">
    <img [src]="character.image" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">
            {{character.name}}
        </h5>
        <p class="card-text">
            <b>Sexo:</b> {{character.gender}}
        </p>
        <p class="text-muted">
            {{character.created |date}}
        </p>
    </div>
</div>
